rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 0.01px;
}

circle.bordered {
    stroke: #E6E6E6;
    stroke-width: 0px;
}

text.legend {
    font-size: 7px;
    font-family: fontawesome, sans-serif;
    fill: green;
}

text.datavals {
    font-size: 5px;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    opacity: 0.9;
}

text.totalsY {
    font-size: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: red;
}

text.totalsX {
    font-size: 14px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: red;
}

text.axis-x {
    font-size: 8px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00a;
}

text.axis-y {
    font-size: 8px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00a;
}
.test {
    color: rgba(195, 255, 0, 0.568);
    font-size: 30px;
}
.HL {
    stroke-width: 3px;
    stroke: brown;
    fill: none;
    z-index: 99999999;
}