rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 0.01px;
    shape-rendering: crispEdges;
    fill: rgb(255, 35, 255);
}

circle.bordered {
    stroke: #E6E6E6;
    stroke-width: 0px;
    fill: rgb(35, 255, 35);
}
path.bordered {
    stroke: black;
    stroke-width: 0px;
    fill: rgba(22, 211, 186, 0.582);
}

text.legend {
    font-size: 9px;
    font-family: fontawesome;
    fill: rgb(8, 211, 8);
}

text.datavals {
    font-size: 10px;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    opacity: 0.9;
}

text.totalsY {
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: rgb(51, 163, 228);
}

text.totalsX {
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: rgb(130, 236, 9);
}

text.axis-x {
    font-size: 11px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00b;
}
text.axis-xh {
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00b;
}
text.axis-y {
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00b;
}
.leafy {
    color: rgba(195, 255, 40, 0.568);
    background-image: linear-gradient(to top right,rgba(50,255,10,0.9),rgba(20,255,20,0.25));
    font-size: 36px;
}
.HL {
    stroke-width: 2.5px;
    stroke: none; /* rgba(177, 36, 36,0.5); */
    fill: rgb(6, 153, 6);
    shape-rendering: crispEdges;
    z-index: 99999999;
}
.mag {
    shape-rendering: crispEdges;
    fill: rgb(5, 247, 235);
}
text.perfM {
    font-size: 10px;
    font-weight: normal;
    font-family: Calibri, sans-serif;
    fill:rgb(84,83,79);
    stroke-width: 0px;
}
path.perfM {
    stroke-width: 1.5px;
    shape-rendering: geometricPrecision;
    stroke: rgb(22, 41, 44);
    fill:none;
}
path.perfS {
    stroke-width: 0px;
    shape-rendering: crispEdges;
    stroke: rgba(245, 239, 239, 0.5);
    fill:none;
}
rect.perfM {
    stroke-width: 1px;
    shape-rendering: geometricPrecision;
    stroke: black;
}
rect.perfS {
    stroke-width: 0px;
    shape-rendering: crispEdges;
    stroke: rgb(14, 12, 12);
}
rect.perfG {
    stroke: rgb(10, 241, 10);
    fill: url(#gradG);
}
rect.perfB {
    stroke: rgb(241, 10, 10);
    fill: url(#gradR);
}
rect.grey {
    fill: url(#gradGr); 
}
rect.none {
    fill:none;
}
text.tooltipRadar{
    font-size: 11px;
    font-family: Calibri, sans-serif;
}
text.legendRadar{
    font-size: 14px;
    font-family: Calibri, sans-serif;
    fill: rgb(51, 51, 51);
    text-anchor: middle;
    text-align: left;
}
text.axisRadar{
    font-size: 13px;
    font-stretch: expanded;
    font-family: Calibri, sans-serif;
    fill: rgb(115, 115, 115);
    text-anchor:start;
    text-align: center;
}
text.topdates {
    font-size: 10px;
    font-weight: normal;
    font-family: Calibri, sans-serif;
    fill:rgb(84,83,79);
    stroke-width: 10px;
}
