rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 0.01px;
    shape-rendering: crispEdges;
}

circle.bordered {
    stroke: #E6E6E6;
    stroke-width: 0px;
}

text.legend {
    font-size: 7px;
    font-family: fontawesome, sans-serif;
    fill: rgb(8, 211, 8);
}

text.datavals {
    font-size: 5px;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    opacity: 0.9;
}

text.totalsY {
    font-size: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: red;
}

text.totalsX {
    font-size: 14px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    text-anchor: middle;
    fill: rgb(130, 236, 9);
}

text.axis-x {
    font-size: 8px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00b;
}

text.axis-y {
    font-size: 8px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    fill: #00b;
}
.leafy {
    color: rgba(195, 255, 0, 0.568);
    font-size: 35px;
}
.HL {
    stroke-width: 5px;
    stroke: rgb(177, 36, 36);
    fill: rgb(6, 153, 6);
    shape-rendering: crispEdges;
    z-index: 99999999;
}
.mag {
    shape-rendering: crispEdges;
    fill: rgb(5, 247, 235);
}